.InfoBox {
  text-align: center;
}
.cardContainer {
  display: flex;
  justify-content: center;
}

.card {
  /* background: rgb(36, 84, 100); */
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuRjcEFumeRKP6KOoRsVTqfZlBjFpEa72ME5sI-LGvcORgzz4ErXmfM1PuxBstt8fxTVk&usqp=CAU");
  background-size: cover;
}

.set {
  display: flex;
  justify-content: center;
}
.cityname {
  margin-top: -4px;
}
