.SearchBox {
  text-align: center;
  margin-bottom: 25px;
}
.SearchBox #city {
  background-color: white;
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
